$govuk-assets-path: "/income-through-software/return/employment-income/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/income-through-software/return/employment-income/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.hmrc-language-select {
  @include govuk-media-query($from: desktop) {
    float: right;
  }
}

.js-hidden {
  display: none;
}
.js-enabled .js-hidden {
  display: block;
}
