$govuk-assets-path: "/update-and-submit-income-tax-return/employment-income/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/update-and-submit-income-tax-return/employment-income/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
@import "components/interruption-page" ;

.js-hidden {
  display: none;
}
.js-enabled .js-hidden {
  display: block;
}
.right-align{
    text-align:right
}